{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

   <h1>Главная страница</h1>

   <img src="https://a.d-cd.net/HcAAAgBuPOA-960.jpg">
   <img src="https://img.milli.az/2023/02/02/1103052.jpg">
{% if tasks  %}
{% for el in tasks %}
        <div class="alert alert-warning mt-2">
             <h3>{{ el.title }}</h3>
             <p>{{ el.task }}</p>

        </div>
      {%  endfor  %}
   {% else %}
        <p>У нас нет записей!</p>
{% endif %}
{% endblock %}





